<%- include('partials/header.ejs') %>

<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container mt-5">
        <div class="row">
            <div class="col" id="home">
                <h2>Welcome to TechVerse</h2>
                <p>"TechVerse is a dynamic platform where innovation meets collaboration, empowering tech enthusiasts to share their insights, 
                knowledge and shape the future of technology. Our vision is to create a thriving community that fuels curiosity, fosters learning, and celebrates the power of ideas. 
                From cutting-edge advancements in AI and software development to thought-provoking discussions on cybersecurity and emerging technologies, TechVerse offers a diverse collection of articles to ignite your imagination and deepen your knowledge. 
                Whether you're a seasoned developer, a budding tech enthusiast, or a visionary with a story to tell, TechVerse invites you to contribute, connect, and inspire a world driven by innovation."</p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76A2VI6PQT1z3Th/JPR3pcXtKbxMA5d2ueh7mAz7sWjUW3k0K0tptk5KIAt6gBP" crossorigin="anonymous"></script>
</body>
